<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>AI.Upscale Swan</title>
    <!-- Icon-->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/icon.png') }}" />
    <!-- Custom Google font-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body onload="verificarData()" class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-white py-0">
        <div class="container px-5">
            <a class="navbar-brand text-gradient d-inline display-3 fw-bolder mb-100"><img class="fw-bolder text-primary" style="width:47px" src="{{ url_for('static', filename='assets/icon.png') }}"> AI.Upscale Swan</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 small fw-bolder">
                    <li><span class="btn btn-outline-white px-1 py-1 fs-5 display-3 fw-bolder text-gradient d-inline" style="width:40px" type="number" readonly id='contador'></span><img style="width:47px" src="{{ url_for('static', filename='assets/pena.png') }}"></a></li><br>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Header-->
    </div>
    <header class="py-0">
        <div class="container px-5 pb-100">
            <div class="row gx-5 align-items-center">
                <div class="col-xxl-5">
                    <!-- Header text content-->
                    <div class="text-center text-xxl-start">
                        <h1 class="display-3 fw-bolder mb-1"><span class="text-gradient d-inline">Upscale<br>Images<br>Free</span></h1>
                        <p class="text-muted">Maximum 5 <img style="width:47px" src="{{ url_for('static', filename='assets/pena.png') }}"> images per day</p>
                        <div id="upload-container">
                            <button class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" id="upload-button">Upscale image</button>
                            <button class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" id="download-link" download="upscaled-image.png" onclick="diminuirContador()">Download image</button>
                        </div>
                        <div id="loading-overlay">
                            <div class="loader"></div>
                            <p>Upscaling image, please wait...</p>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-7 loading">
                    <!-- Caixa da imagem-->
                    <div class="d-flex justify-content-center mt-5 mt-xxl-0">
                        <div class="profile bg-gradient-primary-to-secondary">
                            <div id="result-container">
                                <label for="input-file" id="drop-area">
                                    <input type="file" accept="image/*" id="input-file" hidden required>
                                    <div id="img-view">
                                        <img id="result-image" style="width:67px" src="{{ url_for('static', filename='assets/upload.png') }}">
                                        <p>Upload</p>
                                        <span>or drag an image</span>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</main>
<!-- Rodapé-->
<footer class="bg-white py-0 mt-auto">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto"><div class="small m-0">Copyright&copy;AI.UpscaleSwan2024</div></div>
            <div class="col-auto">
                <a class="small" href="#!">Privacy</a>
                <span class="mx-1">&middot;</span>
                <a class="small" href="#!">Terms</a>
                <span class="mx-1">&middot;</span>
                <a class="small" href="#!">Contact</a>
            </div>
        </div>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="{{ url_for('static', filename='script.js') }}"></script>

<script>
function verificarData() {
    // Obtém a data atual
    var dataAtual = new Date().toDateString();

    // Obtém a data armazenada no armazenamento local, se existir
    var dataArmazenada = localStorage.getItem('dataArmazenada');

    // Se a data armazenada for diferente da data atual
    if (dataArmazenada !== dataAtual) {
        // Muda o valor do contador para 5
        var contador = 5;
        // Atualiza a data armazenada
        localStorage.setItem('dataArmazenada', dataAtual);
        // Atualiza o valor do contador na interface
        document.getElementById('contador').innerText = contador;
        // Armazena o valor do contador no armazenamento local
        localStorage.setItem('contador', contador);
    } else {
        // Se a data for a mesma, obtém o valor do contador do armazenamento local
        var contador = localStorage.getItem('contador');
        // Atualiza o valor do contador na interface
        document.getElementById('contador').innerText = contador;
    }
    
    // Desabilita o botão de download se o contador for igual a zero
    if (contador == 0) {
        document.getElementById('download-link').disabled = true;
    } else {
        document.getElementById('download-link').disabled = false;
    }
}

// Função para diminuir o contador
function diminuirContador() {
    // Obtém o valor atual do contador do armazenamento local
    var contador = parseInt(localStorage.getItem('contador'));

    // Verifica se o contador é maior que zero
    if (contador > 0) {
        // Diminui o contador em 1
        contador--;
        // Atualiza o valor do contador na interface
        document.getElementById('contador').innerText = contador;
        // Atualiza o valor do contador no armazenamento local
        localStorage.setItem('contador', contador);
        
        // Desabilita o botão de download se o contador for igual a zero
        if (contador == 0) {
            document.getElementById('download-link').disabled = true;
        }
    }
}
</script>
</body>
</html>